.cv {
    /* position: relative;
    top: 100px; */
    max-width: 700px;
    margin: auto;
    margin-top: 100px;
    padding: 40px;
    text-align: center;
    color: white;
    background-color: #1e1e1e;
    border-radius: 12px;
}

.cv h1 {
    margin-bottom: 20px;
}

.cv p {
    margin-bottom: 30px;
}

.cv a {
    display: inline-block;
    margin: 8px;
    padding: 12px 18px;
    color: white;
    background-color: #5868cc;
    border-radius: 6px;
    text-decoration: none;
}

.cv a:hover {
    background-color: #7482e0;
}
